<div id="gcc-billPayForm">
    <script>
        function handleiFrameVisibility() {
            document.getElementById('gcc-checkoutContainer').style.display = 'block';
            document.getElementById('gcc-billPayForm').style.display = 'none';
        }
    </script>
    <div class="ccHeader">
        <div class="ccHeaderImg">
        </div>
    </div>
    <form id="gcc-form" method="post" action="https://securepayments.cardconnect.com/hpp/payment/" target="iframeCheckout" onsubmit="handleiFrameVisibility()">
        <h2>Online Bill Pay</h2>

        <input type="hidden" name="ccId" value="{{ccId}}"/>
        <input type="hidden" name="ccCssUrl" value="{{ccCssUrl}}">
        <input type="hidden" name="ccPostbackUrl" value="{{ccPostbackUrl}}">
        <input type="hidden" name="ccSite" value="fts">
        <input type="hidden" name="ccCardTypes" value="AMEX|DISC|MC|VISA">
        <div>
            <label for="patient_name">Patient Name<span class="gcc-required">*</span></label>
            <input class="form-control" type="text" name="patient_name" id="patient_name" placeholder="Enter Patient Name" required/>
        </div>
        <div>
            <label for="invoiceNumber">Invoice Number<span class="gcc-required">*</span></label>
            <input class="form-control" type="text" name="invoiceNumber" id="invoiceNumber" placeholder="Invoice Number" required/>
        </div>
        <div align="center">
            <input type="submit" class="ccFormSubmit" value="Continue to card information">
        </div>
    </form>
</div>
<div id="gcc-checkoutContainer">
    <iframe id="iframeCheckout" name="iframeCheckout"></iframe>
</div>